<h2>Add a new todo...</h2>
<form action = "/todo/create">
<input class = "text-input" id="new_todo_description" name="description" type="text" placeholder="put your todo...">
<input class = "text-input" id="new_date" name="date" type="text" placeholder="put your date...">
<input class = "button" id="add new todo button" type "submit" value = "Add todo">
</form>