 <h3>todo #<%=params[:id]%></h3>
 <div class="showbody">
        <h1><%=@todo.description%></h1>
        <h1><%=@todo.date%></h1>
        <a href="/todo/index"> Go Back </a>
        <a href="/todo/destroy"> Delete</a>
        <a href="/todo/edit"> Edit</a>
 </div>
 
        