 <h3>todo #<%=params[:id] %></h3>
 <div class="showbody">
        <h1><%= @todo_description %></h1>
        <a href="index.html"> Go Back </a>
        <a href="#"> Delete</a>
        <a href="#"> Edit</a>
 </div>
 
        